{
    "swagger": "2.0",
    "info": {
        "description": "AI-powered Strudel code generation and collaborative live coding platform\n\nFeatures:\n- AI-powered Strudel code generation from natural language\n- Real-time collaborative editing via WebSockets\n- OAuth authentication (Google, GitHub)\n- Anonymous session support\n- Save and share Strudel patterns",
        "title": "Algorave API",
        "contact": {
            "name": "API Support",
            "url": "https://codeberg.org/algorave/server"
        },
        "license": {
            "name": "GPL-3.0",
            "url": "https://www.gnu.org/licenses/gpl-3.0.html"
        },
        "version": "1.0"
    },
    "host": "algorave.dev",
    "paths": {
        "/api/v1/admin/strudels/{id}": {
            "get": {
                "security": [
                    {
                        "AdminKeyAuth": []
                    }
                ],
                "description": "Admin-only endpoint to get any strudel regardless of ownership",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Get any strudel by ID (admin)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Strudel ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_admin.StrudelAdminResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/admin/strudels/{id}/use-in-training": {
            "put": {
                "security": [
                    {
                        "AdminKeyAuth": []
                    }
                ],
                "description": "Admin-only endpoint to mark a strudel for use in training data",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Set use_in_training flag on a strudel",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Strudel ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Use in training data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_admin.SetUseInTrainingRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_admin.StrudelAdminResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/agent/generate": {
            "post": {
                "description": "Generate Strudel code using AI with optional BYOK support",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "agent"
                ],
                "summary": "Generate code with AI",
                "parameters": [
                    {
                        "description": "Generation request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_agent.GenerateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_agent.GenerateResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "description": "Clear authentication session",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Logout",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_auth.MessageResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/me": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get authenticated user's profile",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Get current user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_auth.UserResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Update authenticated user's name and avatar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Update user profile",
                "parameters": [
                    {
                        "description": "Profile update",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_auth.UpdateProfileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_auth.UserResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/{provider}": {
            "get": {
                "description": "Begin OAuth authentication flow with specified provider (google, github, apple)",
                "tags": [
                    "auth"
                ],
                "summary": "Start OAuth authentication",
                "parameters": [
                    {
                        "enum": [
                            "google",
                            "github",
                            "apple"
                        ],
                        "type": "string",
                        "description": "OAuth provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "URL to redirect to after authentication",
                        "name": "redirect_url",
                        "in": "query"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to OAuth provider",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/{provider}/callback": {
            "get": {
                "description": "OAuth provider callback. Redirects to original URL with token, or returns JSON if no redirect URL",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "OAuth callback",
                "parameters": [
                    {
                        "enum": [
                            "google",
                            "github",
                            "apple"
                        ],
                        "type": "string",
                        "description": "OAuth provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_auth.AuthResponse"
                        }
                    },
                    "302": {
                        "description": "Redirect to original URL with token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/ping": {
            "get": {
                "description": "Simple ping endpoint",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "health"
                ],
                "summary": "Ping",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_health.PingResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/public/strudels": {
            "get": {
                "description": "Get publicly shared strudels from all users with pagination, search, and filtering",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "List public strudels",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Items per page (max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Number of items to skip",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search in title and description",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by tags (comma-separated)",
                        "name": "tags",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_strudels.StrudelsListResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/public/strudels/tags": {
            "get": {
                "description": "Get all unique tags from public strudels",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "List public tags",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_strudels.TagsListResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/public/strudels/{id}": {
            "get": {
                "description": "Get a publicly shared strudel by its ID (for forking)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "Get public strudel by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Strudel ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_algorave_strudels.Strudel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/public/strudels/{id}/stats": {
            "get": {
                "description": "Get attribution stats for a public strudel (how many times it was used as RAG context)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "Get strudel usage stats",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Strudel ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_attribution.StrudelStatsResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get all sessions where user is host or participant",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "List user's sessions",
                "parameters": [
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Only return active sessions",
                        "name": "active_only",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.SessionsListResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Create a new collaborative coding session (authenticated users only)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Create collaboration session",
                "parameters": [
                    {
                        "description": "Session data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.CreateSessionRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.CreateSessionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/join": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Join a collaborative session using an invite token (authenticated or anonymous)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Join session with invite",
                "parameters": [
                    {
                        "description": "Join request with invite token",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.JoinSessionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.JoinSessionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Invalid or expired invite",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/last": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns the user's most recent active session where they are host, excluding sessions they're currently in",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Get user's last active session for recovery",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.LiveSessionResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/live": {
            "get": {
                "description": "Get discoverable active sessions plus user's own active sessions (if authenticated)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "List live sessions",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Items per page (max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Number of items to skip",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.LiveSessionsListResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get session information including participants",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Get session details",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.SessionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Update the code in a session (host or co-authors only)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Update session code",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Code update",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.UpdateSessionCodeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.UpdateSessionCodeResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "End a collaborative session (host only)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "End session",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/discoverable": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Toggle whether a session appears in the live sessions list (host only)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Set session discoverability",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Discoverability settings",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.SetDiscoverableRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.SessionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/end-live": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Ends the live portion of a session: kicks all non-host participants, revokes all invite tokens,\nsets discoverable to false. Host keeps access to the session and their code.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Soft-end a live session",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.SoftEndSessionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/invite": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get all invite tokens for a session (host only)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "List invite tokens",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.InviteTokensListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Generate an invite link for joining the session (host only)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Create invite token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Token settings",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.CreateInviteTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.InviteTokenResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/invite/{token_id}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Revoke an invite token to prevent further use (host only)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Revoke invite token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Token ID (UUID)",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/leave": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Leave a collaborative session",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Leave session",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/live-status": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns whether a session is currently live (has other participants or active invite tokens)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Check if session is live",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.IsLiveResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/messages": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retrieve chat messages from a session (AI conversations are strudel-scoped and fetched separately)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Get session chat messages",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Max messages to return (max 1000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.MessagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/participants": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get all participants in a session (authenticated and anonymous)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "List session participants",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.ParticipantsListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/sessions/{id}/participants/{participant_id}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Remove a participant from the session (host only)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sessions"
                ],
                "summary": "Remove participant",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Participant ID (UUID)",
                        "name": "participant_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_collaboration.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/strudels": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get strudels owned by the authenticated user with pagination, search, and filtering",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "List user's strudels",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Items per page (max 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Number of items to skip",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search in title and description",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by tags (comma-separated)",
                        "name": "tags",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_strudels.StrudelsListResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Save a new Strudel pattern with code, title, and metadata",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "Create strudel",
                "parameters": [
                    {
                        "description": "Strudel data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_algorave_strudels.CreateStrudelRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_algorave_strudels.Strudel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/strudels/tags": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Get all unique tags from the authenticated user's strudels",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "List user's tags",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_strudels.TagsListResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/strudels/{id}": {
            "get": {
                "description": "Get a specific strudel by ID (owner or public)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "Get strudel by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Strudel ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_strudels.StrudelDetailResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Update a strudel's properties (must be owner)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "Update strudel",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Strudel ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_algorave_strudels.UpdateStrudelRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_algorave_strudels.Strudel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Delete a strudel (must be owner)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "strudels"
                ],
                "summary": "Delete strudel",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Strudel ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_strudels.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/users/ai-features-enabled": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Toggle whether AI features (prompt bar, code generation) are enabled for the user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Update user's AI features setting",
                "parameters": [
                    {
                        "description": "AI features enabled data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_users.AIFeaturesEnabledRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_algorave_users.User"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/users/training-consent": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Toggle whether the user's public strudels can be used for AI training",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Update user's training consent",
                "parameters": [
                    {
                        "description": "Consent data",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/api_rest_users.TrainingConsentRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_algorave_users.User"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/users/usage": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns usage statistics for the authenticated user including today's count, daily limit, and usage history",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get user's usage statistics",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_users.UsageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/codeberg_org_algorave_server_internal_errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "description": "Get service health status",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "health"
                ],
                "summary": "Health check",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api_rest_health.Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "api_rest_admin.SetUseInTrainingRequest": {
            "type": "object",
            "properties": {
                "use_in_training": {
                    "type": "boolean"
                }
            }
        },
        "api_rest_admin.StrudelAdminResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_public": {
                    "type": "boolean"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "title": {
                    "type": "string"
                },
                "use_in_training": {
                    "type": "boolean"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "api_rest_agent.DocReference": {
            "type": "object",
            "properties": {
                "page_name": {
                    "type": "string"
                },
                "section_title": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "api_rest_agent.GenerateRequest": {
            "type": "object",
            "required": [
                "user_query"
            ],
            "properties": {
                "conversation_history": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_agent.Message"
                    }
                },
                "editor_state": {
                    "type": "string"
                },
                "forked_from_id": {
                    "description": "optional: for blocking AI on restricted forks",
                    "type": "string"
                },
                "provider": {
                    "description": "\"anthropic\" or \"openai\"",
                    "type": "string"
                },
                "provider_api_key": {
                    "description": "BYOK key",
                    "type": "string"
                },
                "session_id": {
                    "description": "optional: for paste lock validation",
                    "type": "string"
                },
                "strudel_id": {
                    "description": "optional: for persisting conversation",
                    "type": "string"
                },
                "user_query": {
                    "type": "string"
                }
            }
        },
        "api_rest_agent.GenerateResponse": {
            "type": "object",
            "properties": {
                "clarifying_questions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "code": {
                    "type": "string"
                },
                "doc_references": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_agent.DocReference"
                    }
                },
                "docs_retrieved": {
                    "type": "integer"
                },
                "examples_retrieved": {
                    "type": "integer"
                },
                "is_actionable": {
                    "type": "boolean"
                },
                "is_code_response": {
                    "type": "boolean"
                },
                "model": {
                    "type": "string"
                },
                "strudel_references": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_agent.StrudelReference"
                    }
                }
            }
        },
        "api_rest_agent.Message": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            }
        },
        "api_rest_agent.StrudelReference": {
            "type": "object",
            "properties": {
                "author_name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "api_rest_auth.AuthResponse": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                },
                "user": {
                    "$ref": "#/definitions/codeberg_org_algorave_server_algorave_users.User"
                }
            }
        },
        "api_rest_auth.MessageResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "api_rest_auth.UpdateProfileRequest": {
            "type": "object",
            "required": [
                "name"
            ],
            "properties": {
                "avatar_url": {
                    "type": "string",
                    "maxLength": 500
                },
                "name": {
                    "type": "string",
                    "maxLength": 100
                }
            }
        },
        "api_rest_auth.UserResponse": {
            "type": "object",
            "properties": {
                "user": {
                    "$ref": "#/definitions/codeberg_org_algorave_server_algorave_users.User"
                }
            }
        },
        "api_rest_collaboration.CreateInviteTokenRequest": {
            "type": "object",
            "required": [
                "role"
            ],
            "properties": {
                "expires_at": {
                    "type": "string"
                },
                "max_uses": {
                    "type": "integer"
                },
                "role": {
                    "type": "string",
                    "enum": [
                        "co-author",
                        "viewer"
                    ]
                }
            }
        },
        "api_rest_collaboration.CreateSessionRequest": {
            "type": "object",
            "required": [
                "title"
            ],
            "properties": {
                "code": {
                    "description": "1MB limit",
                    "type": "string",
                    "maxLength": 1048576
                },
                "is_discoverable": {
                    "description": "optional, defaults to false",
                    "type": "boolean"
                },
                "title": {
                    "type": "string",
                    "maxLength": 200
                }
            }
        },
        "api_rest_collaboration.CreateSessionResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "host_user_id": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_active": {
                    "type": "boolean"
                },
                "is_discoverable": {
                    "type": "boolean"
                },
                "last_activity": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "api_rest_collaboration.InviteTokenResponse": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "expires_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "max_uses": {
                    "type": "integer"
                },
                "role": {
                    "type": "string"
                },
                "session_id": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "uses_count": {
                    "type": "integer"
                }
            }
        },
        "api_rest_collaboration.InviteTokensListResponse": {
            "type": "object",
            "properties": {
                "tokens": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_collaboration.InviteTokenResponse"
                    }
                }
            }
        },
        "api_rest_collaboration.IsLiveResponse": {
            "type": "object",
            "properties": {
                "has_active_invite_tokens": {
                    "type": "boolean"
                },
                "is_live": {
                    "type": "boolean"
                },
                "participant_count": {
                    "type": "integer"
                }
            }
        },
        "api_rest_collaboration.JoinSessionRequest": {
            "type": "object",
            "required": [
                "invite_token"
            ],
            "properties": {
                "display_name": {
                    "type": "string",
                    "maxLength": 100
                },
                "invite_token": {
                    "type": "string"
                }
            }
        },
        "api_rest_collaboration.JoinSessionResponse": {
            "type": "object",
            "properties": {
                "display_name": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "session_id": {
                    "type": "string"
                }
            }
        },
        "api_rest_collaboration.LiveSessionResponse": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_discoverable": {
                    "type": "boolean"
                },
                "is_member": {
                    "type": "boolean"
                },
                "last_activity": {
                    "type": "string"
                },
                "participant_count": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "api_rest_collaboration.LiveSessionsListResponse": {
            "type": "object",
            "properties": {
                "pagination": {
                    "$ref": "#/definitions/codeberg_org_algorave_server_api_rest_pagination.Meta"
                },
                "sessions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_collaboration.LiveSessionResponse"
                    }
                }
            }
        },
        "api_rest_collaboration.MessageResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "api_rest_collaboration.MessagesResponse": {
            "type": "object",
            "properties": {
                "messages": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/codeberg_org_algorave_server_algorave_sessions.Message"
                    }
                }
            }
        },
        "api_rest_collaboration.ParticipantResponse": {
            "type": "object",
            "properties": {
                "display_name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "joined_at": {
                    "type": "string"
                },
                "left_at": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "api_rest_collaboration.ParticipantsListResponse": {
            "type": "object",
            "properties": {
                "participants": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_collaboration.ParticipantResponse"
                    }
                }
            }
        },
        "api_rest_collaboration.SessionResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "ended_at": {
                    "type": "string"
                },
                "host_user_id": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_active": {
                    "type": "boolean"
                },
                "is_discoverable": {
                    "type": "boolean"
                },
                "last_activity": {
                    "type": "string"
                },
                "participants": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_collaboration.ParticipantResponse"
                    }
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "api_rest_collaboration.SessionsListResponse": {
            "type": "object",
            "properties": {
                "sessions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api_rest_collaboration.SessionResponse"
                    }
                }
            }
        },
        "api_rest_collaboration.SetDiscoverableRequest": {
            "type": "object",
            "properties": {
                "is_discoverable": {
                    "type": "boolean"
                }
            }
        },
        "api_rest_collaboration.SoftEndSessionResponse": {
            "type": "object",
            "properties": {
                "invites_revoked": {
                    "type": "boolean"
                },
                "message": {
                    "type": "string"
                },
                "participants_kicked": {
                    "type": "integer"
                }
            }
        },
        "api_rest_collaboration.UpdateSessionCodeRequest": {
            "type": "object",
            "required": [
                "code"
            ],
            "properties": {
                "code": {
                    "description": "1MB limit",
                    "type": "string",
                    "maxLength": 1048576
                }
            }
        },
        "api_rest_collaboration.UpdateSessionCodeResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "api_rest_health.PingResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
[...]
